<div class="site-banner">
    <div class="banner-wrapper primary-layer">
        <div class="banner-inner">
            <div class="banner-content container text-center container-full-width">
                <h2 class="display-3 fw-200 mb-4 text-white text-capitalize">
                    <span class="d-title">
                        Creative
                        <span>Designs</span>
                        <span>Business</span>
                    </span>
                </h2>
                <h4 class="text-white">{{'app.home.slogan' | translate}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="section-title-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-10 mx-auto text-center">
                <h2>{{'app.home.best_solution_for_bussines' | translate}}</h2>
                <p class="mb-0">{{'app.home.experienced_team_text' |translate}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 features text-center mb-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6 m-sm-b">
            <fa-icon icon="industry"></fa-icon>
            <h3 class="mb-3 info-title">NUEVAS TECNOLOGÍAS</h3>
            <p class="mb-4 font-small">
                Combinamos nuestra especialización en tecnologías de vanguardia con un amplio conocimiento de los retos
                de negocio de nuestros clientes mediante el uso de tecnologías open source y estándares
                abiertos.
            </p>

        </div>
        <div class="col-sm-12 col-md-6 col-xl-6 m-sm-b">
            <fa-icon icon="sitemap"></fa-icon>
            <h3 class="mb-3 info-title"> METODOLOGÍAS </h3>
            <p class="mb-4 font-small">
                La metodología Agile es una fórmula para el desarrollo de proyectos que necesitan rapidez y
                flexibilidad para adaptarse a las necesidades del cliente, y siempre está enfocada a resultados.
            </p>
        </div>
    </div>
</div>