<div>
    <img class="logo" src="assets/Logo-digitalizadores.png" alt="">
</div>

<h2 class="page-title text-left">
    {{'app.kit-digital.page.solutions'|translate}}
</h2>

<div class="nav">
    <ul>
        <li (click)="changeSolution('web')">
            <button id="web" class="selected">
                {{'app.kit-digital.page.web-solution'|translate}}
            </button>
        </li>
        <li (click)="changeSolution('bill')">
            <button id="bill">
                {{'app.kit-digital.page.digital-bill-solution'|translate}}
            </button>
        </li>
        <li (click)="changeSolution('client')">
            <button id="client">
                {{'app.kit-digital.page.client-management-solution'|translate}}
            </button>
        </li>
        <li (click)="changeSolution('processes')">
            <button id="processes">
                {{'app.kit-digital.page.process-management-solution'|translate}}
            </button>
        </li>
    </ul>
</div>

<!-- <hr> -->

<div *ngIf="currentSolution === 'web'">
    <app-web-solution></app-web-solution>
</div>

<div *ngIf="currentSolution === 'processes'">
    <app-processes-solution></app-processes-solution>
</div>

<div *ngIf="currentSolution === 'bill'">
    <app-digital-bill-solution></app-digital-bill-solution>
</div>

<div *ngIf="currentSolution === 'client'">
    <app-client-management-solution></app-client-management-solution>
</div>