@import '../../../../theme/variables.scss';

h2 {
    margin-left: 18%;
    padding-bottom: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 30px;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

li {
    display: inline;
    text-decoration: none;
    padding: 10px 20px;
}

button {
    color: $primary-color;
    background-color: white;
    font-weight: bold;
    border: 2px solid $primary-color;
    border-radius: 10px;
    padding: 5px 10px;
}

.selected {
    color: white;
    background-color: $accent-color;
}

button:hover {
    background-color: $accent-color;
    color: white;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 100%;
        padding: 10px;
    }
}