<div>
    <img class="logo" src="assets/Logo-digitalizadores.png" alt="">
</div>

<div class="nav">
    <ul>
        <li (click)="changeSolution('web')">{{'app.kit-digital.page.web-solution'|translate}}</li>
        <li (click)="changeSolution('bill')">{{'app.kit-digital.page.digital-bill-solution'|translate}}</li>
        <li (click)="changeSolution('client')">{{'app.kit-digital.page.client-management-solution'|translate}}</li>
        <li (click)="changeSolution('processes')">{{'app.kit-digital.page.process-management-solution'|translate}}</li>
    </ul>
</div>

<hr>

<div *ngIf="currentSolution === 'web'">
    <app-web-solution></app-web-solution>
</div>

<div *ngIf="currentSolution === 'processes'">
    <app-processes-solution></app-processes-solution>
</div>