@import '../../../../theme/variables.scss';

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 30px;
}

.nav {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

li {
    display: inline;
    text-decoration: none;
    padding: 10px 20px;
}

li:hover {
    background-color: rgba(128, 128, 128, 0.352);
    border-radius: 5px;
}

.selected {
    color: $primary-color;
}