<div class="flex-row-center solution">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h2 class="text-center">
                <span>{{'app.kit-digital.solution.processes.title'|translate}}</span>
            </h2>
            
            <h3 class="text-center description subtitle">
                {{'app.kit-digital.solution.processes.subtitle'|translate}}
            </h3>

            <div class="description-list">
                <ul>
                    <li>{{'app.kit-digital.solution.processes.description.point1'|translate}}</li>
                    <li>{{'app.kit-digital.solution.processes.description.point2'|translate}}</li>
                    <li>{{'app.kit-digital.solution.processes.description.point3'|translate}}</li>
                    <li>{{'app.kit-digital.solution.processes.description.point4'|translate}}</li>
                </ul>
            </div>

            <p class="text-center subtitle description">
                {{'app.kit-digital.solution.processes.description.time-to-do'|translate}}
            </p>

            <p class="text-center subtitle description">
                {{'app.kit-digital.solution.processes.description.time-to-do.num'|translate}}
            </p>

            <div class="box text-center">
                <p>{{'app.kit-digital.solution.processes.price'|translate}}</p>
                <p>{{'app.kit-digital.solution.processes.subvention'|translate}}</p>
                <p>{{'app.kit-digital.solution.processes.subventionedBy'|translate}}</p>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
            <h3 class="text-center">
                {{'app.kit-digital.solution.web.included'|translate}}
            </h3>

            <div class="box purple-fill">
                <ul>
                    <li>{{'app.kit-digital.solution.processes.description2.point1'|translate}}</li>
                    <li>
                        {{'app.kit-digital.solution.processes.description2.point2'|translate}}
                        <ul><li>{{'app.kit-digital.solution.processes.description2.point2-2'|translate}}</li></ul>
                    </li>
                    <li>{{'app.kit-digital.solution.processes.description2.point3'|translate}}</li>
                    <li>{{'app.kit-digital.solution.processes.description2.point4'|translate}}</li>
                    <li>{{'app.kit-digital.solution.processes.description2.point5'|translate}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="segments-wrapper">
    <h2 class="text-center">
        {{'app.kit-digital.solution.web.segments.title'|translate}}
    </h2>

    <table class="segments">
        <tr>
            <td class="box purple-fill segment text-center">
                <p class="box-title">{{'app.kit-digital.segment1.title'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.from'|translate}}</p>
                <p class="emphasize">{{'app.kit-digital.segment1.num-employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.processes.segment1.subvention'|translate}}</p>
            </td>
            
            <td class="box purple-fill segment text-center">
                <p class="box-title">{{'app.kit-digital.segment2.title'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.from'|translate}}</p>
                <p class="emphasize">{{'app.kit-digital.segment2.num-employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.processes.segment2.subvention'|translate}}</p>
            </td>
    
            <td class="box purple-fill segment text-center">
                <p class="box-title">{{'app.kit-digital.segment3.title'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.from'|translate}}</p>
                <p class="emphasize">{{'app.kit-digital.segment3.num-employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.processes.segment3.subvention'|translate}}</p>
            </td>
        </tr>
    </table>
</div>