@import "../../../../theme/variables.scss";

.site-banner {
  background: url("../../../../assets/home3.jpg") 100% 100% / cover no-repeat;
  height: 100vh;
  margin-top: -$main-menu-height;
  .banner-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
    .banner-inner {
      flex: 0 0 auto;
      width: 100%;
      h2 {
        position: relative;
        font-size: 250%;
        margin-left: -10%;
        font-family: $font-family;
        .d-title {
          // display: inline;
          // text-indent: 10px;
          span {
            opacity: 0;
            overflow: hidden;
            color: #fff;
            text-align: center;
          }
        }
      }
      @media (max-width: map-get($grid-breakpoints, lg)) {
        h2 {
          font-size: 250%;
        }
      }
      @media (max-width: map-get($grid-breakpoints, md)) {
        h2 {
          font-size: 200%;
        }
      }
      @media (max-width: map-get($grid-breakpoints, sm)) {
        h2 {
          font-size: 150%;
        }
      }
    }
  }
}
