<div class="site-banner">
    <div class="banner-wrapper primary-layer">
        <div class="banner-inner">
            <div class="banner-content container text-center container-full-width">
                <h2 class="display-3 fw-200 mb-4 text-white text-capitalize d-title">
                    <span class="d-title">
                        {{'app.home.slogan'|translate}}
                        <span>{{'app.home.slogan.word1'|translate}}</span>
                        <span>{{'app.home.slogan.word2'|translate}}</span>
                    </span>
                </h2>
                <h4 class="text-white">{{'app.home.slogan2'|translate}}</h4>
            </div>
        </div>
    </div>
</div>

<div class="with-background">
    <div class="container">
        <div class="section section-animated">
            <h2 class="page-title text-center">
                {{'app.home.title.develop-tech'|translate}}
            </h2>
    
            <div class="processes">
                <div class="space-between text-center">
                    <img [src]="oldProcessesImg" alt="oldProcesses">
                    <p class="description">
                        {{'app.home.subtitle1.develop-tech'|translate}}
                    </p>
                </div>
    
                <div class="space-between arrow">
                    <img [src]="arrowRightImg" alt="">
                </div>
    
                <div class="space-between text-center">
                    <img [src]="newProcessesImg" alt="newProcesses">
                    <p class="description">
                        {{'app.home.subtitle2.develop-tech'|translate}}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="section">
            <div class="flex-row-center">
                <p class="box purple-fill bullet-point margin-between">
                    {{'app.home.subtitle3.develop-tech'|translate}}
                </p>
    
                <p class="box purple-fill bullet-point margin-between">
                    {{'app.home.subtitle4.develop-tech'|translate}}
                </p>
            </div>
        </div>
    
        <div class="section">
            <p class="description text-center w80-center">
                {{'app.home.subtitle5.develop-tech'|translate}}
            </p>
        </div>
    </div>

    <div class="container">
        <div class="section section-animated">
            <div class="space-between">
                <h2 class="page-title text-right purple-text giant-text">
                    {{'app.home.title.reliability'|translate}}
                </h2>
            </div>
    
            <div class="text-left space-between mt-250">
                <div class="flex-row-left">
                    <p class="bullet-point box purple-fill">
                        {{'app.home.point1.reliability'|translate}}
                    </p>
                </div>
    
                <div class="flex-row-left">
                    <p class="bullet-point box white-fill">
                        {{'app.home.point2.reliability'|translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section flex-row-center">
    <p class="box purple-fill bullet-point space-between reliability">
        {{'app.home.subtitle.reliability'|translate}}
    </p>
    <div class="space-between">
        <h2 class="page-title text-center">
            {{'app.home.title.advantages'|translate}}
        </h2>

        <ul>
            <li class="page-subtitle" *ngFor="let point of advantagesList">
                {{point|translate}}
            </li>
        </ul>
    </div>
</div>