@import "../../../../theme/variables.scss";

.site-banner {
  background: url("../../../../assets/home3.jpg") 100% 100% / cover no-repeat;
  height: 100vh;
  margin-top: -$main-menu-height;
  .banner-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
    .banner-inner {
      flex: 0 0 auto;
      width: 100%;
      h2 {
        position: relative;
        font-size: 250%;
        font-family: $font-family;
        margin-left: -30%;
        line-height: normal;
        .d-title {
          display: inline;
          text-indent: 10px;
          span {
            position: absolute;
            opacity: 0;
            overflow: hidden;
            color: #fff;
            -webkit-animation: 4s linear infinite rotateWord;
            animation: 4s linear infinite rotateWord;
            &:nth-child(2) {
              -webkit-animation-delay: 2s;
              animation-delay: 2s;
              color: #fff;
            }
            &:nth-child(3) {
              -webkit-animation-delay: 4s;
              animation-delay: 4s;
              color: #fff;
            }
          }
        }
      }
      @media (max-width: map-get($grid-breakpoints, lg)) {
        h2 {
          font-size: 250%;
        }
      }
      @media (max-width: map-get($grid-breakpoints, md)) {
        h2 {
          margin-left: -51%;
          
          span {
            font-size: 73%;
          }

          span:nth-child(1) {
            top: 17px;
          }
        }

        h4 {
          font-size: 100%;
        }


      }
      @media (max-width: map-get($grid-breakpoints, sm)) {
        h2 {
          margin-left: -51%;
          
          span {
            font-size: 73%;
          }

          span:nth-child(1) {
            top: 17px;
          }
        }
      }
    }
  }
}

.description {
  color: black;
  margin-top: 10px;
}

.processes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow {
  margin: 20px 10px;
}

.container {
  overflow: hidden;
}

.with-background {
  background: url('../../../../assets/escenitech-web.jpg') 100% 40% / cover no-repeat;
  padding-bottom: 50px;
}

.zoom-in {
  animation-name: zoomIn;
  animation-duration: 30s;
  animation-fill-mode: forwards;
}

.reliability {
  width: 30%;
  margin: 40px;
  font-size: 20px;
  font-weight: bold;
}

.giant-text {
  font-size: 32px;
}

.mt-250 {
  margin-top: 250px;
}

@media screen and (max-width: 768px) {
  .processes {
    flex-direction: column;

    div:nth-child(2) {
      text-align: center;
      transform: rotate(90deg);
    }
  }

  .reliability {
    width: 100%;
  }

  .mt-250 {
    margin-top: 20px;
  }
}
