@import '../../../../theme/variables.scss';

.wrapper {
    margin: 25px;
}

.inner {
    width: 85%;
    margin: 30px auto;
}

.title {
    color: $primary-color;
    font-weight: bold;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dn-img {
    height: 10%;
    max-width: 25%;
    margin: 20px;
}

.cs-img {
    max-width: 50%;
}