<div class="wrapper">
    <div class="section inner animate">
        <h3 class="title">{{'app.success-cases.page.delivery-note.title'|translate}}</h3>
        <p>
            {{'app.success-cases.page.delivery-note.description'|translate}}
        </p>

        <div class="img-wrapper">
            <img class="dn-img" *ngFor="let img of deliveryNoteImgs" [src]="img" alt="">
        </div>
    </div>

    <hr>
    
    <div class="section inner">
        <h3 class="title">{{'app.success-cases.page.client-space.title'|translate}}</h3>
        <p>
            {{'app.success-cases.page.client-space.description'|translate}}
        </p>

        <div class="img-wrapper">
            <img class="cs-img" *ngFor="let img of clientSpaceImgs" [src]="img" alt="">
        </div>
    </div>
    
</div>