@import "../theme/variables.scss";

.theme-wrapper {
  height: 100%;
  width: 100%;
  mat-sidenav-container {
    height: 100%;
    width: 100%;
    .jobs{
      width: 100%;
      margin-bottom: $content-padding;
    }

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;

      .content {
        flex: 1 0 auto;
        margin-top: $main-menu-height;
        overflow: hidden;
      }
    }
  }
}
