<div class="flex-row-center solution">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="section animate">
                <h2 class="text-center">
                    <span>{{'app.kit-digital.solution.web.title'|translate}}</span>
                    {{'app.kit-digital.solution.web.title2'|translate}}
                </h2>

                <h3 class="text-center subtitle">
                    {{'app.kit-digital.solution.web.subtitle'|translate}}
                </h3>

                <div class="description-list">
                    <ul>
                        <li>{{'app.kit-digital.solution.web.description.point1'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description.point2'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description.point3'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description.point4'|translate}}</li>
                    </ul>
                </div>

                <p class="text-center description">
                    {{'app.kit-digital.solution.web.description.subtitle'|translate}}
                </p>

                <div class="box text-center">
                    <p>{{'app.kit-digital.solution.web.price'|translate}}</p>
                    <p>{{'app.kit-digital.solution.web.subvention'|translate}}</p>
                    <p>{{'app.kit-digital.solution.web.subventionedBy'|translate}}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="section animate">
                <h3 class="text-center">
                    {{'app.kit-digital.solution.web.included'|translate}}
                </h3>

                <div class="box purple-fill">
                    <ul>
                        <li>{{'app.kit-digital.solution.web.description2.point1'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description2.point2'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description2.point3'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description2.point4'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description2.point5'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description2.point6'|translate}}</li>
                        <li>{{'app.kit-digital.solution.web.description2.point7'|translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="segments-wrapper section">
    <h2 class="text-center">
        {{'app.kit-digital.solution.web.segments.title'|translate}}
    </h2>

    <table class="segments">
        <tr>
            <td class="box purple-fill segment text-center">
                <p class="box-title">{{'app.kit-digital.segment1.title'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.from'|translate}}</p>
                <p class="emphasize">{{'app.kit-digital.segment1.num-employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segment1.subvention'|translate}}</p>
            </td>

            <td class="box purple-fill segment text-center">
                <p class="box-title">{{'app.kit-digital.segment2.title'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.from'|translate}}</p>
                <p class="emphasize">{{'app.kit-digital.segment2.num-employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segment2.subvention'|translate}}</p>
            </td>

            <td class="box purple-fill segment text-center">
                <p class="box-title">{{'app.kit-digital.segment3.title'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.from'|translate}}</p>
                <p class="emphasize">{{'app.kit-digital.segment3.num-employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segments.employees'|translate}}</p>
                <p>{{'app.kit-digital.solution.web.segment3.subvention'|translate}}</p>
            </td>
        </tr>
    </table>
</div>