
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center font-base text-uppercase">ÚNETE AL EQUIPO</h1>
      <p class="font-size-small">
        Somos un equipo multidisciplinar que trabajamos para terceras empresas desarrollando apasionantes aplicaciones y páginas web.<br />
        También queremos crear productos propios (ApiRest con Alexa/Google Home y App Android/iOS).<br /><br />
      </p>
      <ul class="font-size-small">
        <li> <h3>¿Tienes conocimientos de <b>Symfony (PHP)</b>, <b>API Rest</b> o <b>Angular</b>?</h3></li>
        <li> <h3>¿Te apasionan los retos tecnológicos?</h3></li>
        <!--<li> <h3>¿Corre el friquismo por tus venas?</h3></li>-->
      </ul>
      <br />
      <p class="font-size-small">
        Si es así, <span class="font-base text-uppercase">TE NECESITAMOS</span>, forma parte de nuestro <span class="font-base text-uppercase">equipo</span>.
      </p>
      <p class="font-size-small">
        Buscamos programadores/as <b>Junior</b> y <b>Senior</b> a jornada completa o media jornada para desarrollo de aplicaciones móviles y páginas web.
        Con esto último pretendemos introducirnos sutilmente en el mundo de los videojuegos.<br />
        Una peculiaridad que también tenemos, es que nos encantan los juegos de mesa, y en nuestro tiempo libre también los desarrollamos.<br /><br />
        Por esto y por mucho más si te consideras una persona friqui, <span class="font-base text-uppercase">este es tu sitio</span>.
      </p>
      <br />
      <h4>¿Qué conocimientos más valoramos?</h4>
      <ul class="font-size-small">
        <li> Experiencia en DDD (Domain Driven Design)</li>
        <li> Microservicios / CQRS (Command Query Responsibility Segregation)</li>
        <li> Testing y buenas prácticas</li>
        <li> Docker / CI/CD</li>
        <li> Sysadmin / Devops</li>
        <li> Spring Java / ORACLE</li>
        <li> REDUX / PWA</li>
        <li> Agile / Scrum / Kanban</li>
      </ul>

      <h4>¿Qué condiciones ofrecemos?</h4>
      <ul class="font-size-small">
        <li>Junior: 25.000€ - 28.000€ Brutos anuales</li>
        <li>Senior: 30.000€ - 35.000€ Brutos anuales</li>
        <li>Trabajo a distancia: con nuestros proyectos <b>sí</b>, con proyectos del cliente <b>según sus necesidades</b></li>
      </ul>

      <h3 class="font-base text-uppercase">Envíanos tu CV!</h3>
        <a href="mailto:contact@escenitech.com">
          <fa-icon icon="envelope"></fa-icon>
          <span class="text"> contact@escenitech.com</span>
        </a>

    </div>
  </div>
</div>
