<div class="container mt-5">
    <div class="section-title-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-10 mx-auto text-center">
                <h2>{{'app.what-we-do.page.best_solution_for_bussines'|translate}}</h2>
                <p class="mb-0">{{'app.what-we-do.page.experienced_team_text'|translate}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 features text-center mb-5">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-6 m-sm-b">
            <fa-icon icon="industry"></fa-icon>
            <h3 class="mb-3 info-title">NUEVAS TECNOLOGÍAS</h3>
            <p class="mb-4 font-small">
                Combinamos nuestra especialización en tecnologías de vanguardia con un amplio conocimiento de los retos
                de negocio de nuestros clientes mediante el uso de tecnologías open source y estándares
                abiertos.
            </p>

        </div>
        <div class="col-sm-12 col-md-6 col-xl-6 m-sm-b">
            <fa-icon icon="sitemap"></fa-icon>
            <h3 class="mb-3 info-title"> METODOLOGÍAS </h3>
            <p class="mb-4 font-small">
                La metodología Agile es una fórmula para el desarrollo de proyectos que necesitan rapidez y
                flexibilidad para adaptarse a las necesidades del cliente, y siempre está enfocada a resultados.
            </p>
        </div>
    </div>
</div>

<hr>

<div class="container text-center">
    <div class="row">
        <div>
            <p class="page-title">
                {{'app.what-we-do.page.title.specialities'|translate}}
            </p>
        </div>

        <div class="flex-row-center">
            <p class="speciality">
                {{'app.what-we-do.page.label.tech1'|translate}}
            </p>

            <img 
                *ngFor="let img of backEndImgs"
                [src]="img"
                alt=""
                class="tech-img"    
            >
        </div>

        <div class="flex-row-center">
            <p class="speciality">
                {{'app.what-we-do.page.label.tech2'|translate}}
            </p>

            <img 
                *ngFor="let img of frontEndImgs"
                [src]="img"
                alt=""
                class="tech-img"    
            >
        </div>

        <div class="flex-row-center">
            <p class="speciality">
                {{'app.what-we-do.page.label.tech3'|translate}}
            </p>

            <img 
                *ngFor="let img of mobileImgs"
                [src]="img"
                alt=""
                class="tech-img"    
            >
        </div>

        <div class="flex-row-center">
            <p class="speciality">
                {{'app.what-we-do.page.label.tech4'|translate}}
            </p>

            <img 
                *ngFor="let img of cloudImgs"
                [src]="img"
                alt=""
                class="tech-img"    
            >
        </div>
    </div>
</div>