.tech-img {
    height: 80px;
    margin: 0 15px;
}

p {
    font-size: large;
}

.tech-container {
    display: grid;
    grid-template-columns: auto auto;
}

.tech-element {
    padding: 20px;
}

table {
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 30px 50px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.caption {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .item {
        .tech-img {
            height: 40px;
        }

        .caption {
            font-size: 15px;
        }
    }

    table {
        border-spacing: 10px 20px;
    }
}